/* 
	Prototype 311
	CSS Document 
	
	SENIOR DESIGN I
	
	Chusen Liang
	Philip Moise
	Micheal Ye
	Jacky Guo
*/



/*--------------------------------------------------------------*/
body{
	padding:0; margin:0;
	background:url(images/bgs.png) repeat;
	}
	
span{
	display: inline-block;
	width: 70px;
	text-align: center;
}
div, p, h1, h2, h3, ul, img{
	padding:0; margin:0;
	}
	
ul{
	list-style-type:none;
	}
.balnk{
	font-size:0px; line-height:0px; clear:both;
	}

/*--------------------------------companies-------------------*/
#companies{
	

	margin: auto;
	text-align: center;
}
/*--------------------------------icons-------------------*/

/*--------------------------------scrollspy-------------------*/
@import url(http://twitter.github.com/bootstrap/assets/css/bootstrap.css);
.box{
    padding: 15px;
    background: #eee;
    opacity: .75;
    height: 100%; 
    width: 70%;
    margin: auto;
    margin-top: 15px;
    margin-bottom: 15px;
    font-weight: 700;
}
#navbar{
    position: fixed;
    bottom: 0; 
    padding-left: 3em;
    width: 100%;
    background-color: #69A0C8;
}
.nav li a{
	background-color: #69A0C8;
	color: white;
    float: left;
    padding: 15px 0;
    margin-left: 4.25em;
    font-size:medium;
    text-align: center;
}
.nav li a:hover{
    color: #69A0C8 !important;
    background-color: #69A0C8;
}
.nav li.active a{
    color: black;
    text-decoration: underline;
    background-color: #69A0C8;
}



/*--------------------------------updates-------------------*/
#update{
	margin: 0;width:100%;
}
#left{
	float:left; width: 35%; text-align: center; margin: 0px 0px 0px 150px;
}
#left ul li a{
	color: black;text-decoration: underline;line-height: 2em;
}
#left ul li a:hover{
	text-decoration: underline;
}
#right{
	float:left;text-align: center;width: 35%;
}
#right ul li a{
	color: black;text-decoration: underline;line-height: 2em;
}
#right ul li a:hover{
	text-decoration: underline;
}

/*--------------------------------header-------------------*/

#main_header{
	width:100%;	margin:0 auto;  background-color:#69A0C8; color:#FFFFFF; height:216px; 
	}
#main_header #header{
	 width: 72%; margin:0 auto; background:url(images/header_pic.gif) ; color:#FFFFFF; height:216px; background-size:100% 100%;
	 position:relative; 
	}
#main_header #header ul{
	background:url(images/search_bg.gif) no-repeat #410b71; color:#FFFFFF; display:block; position:absolute; height:22px;
	 width:123px; margin:0; padding:6px 0 0 26px; top:10px; left:0px; 
	}
#main_header #header ul li{
	float:left; display:block; margin:0 23px 0 0;
	}
#main_header #header ul li a{
	height:15px; text-decoration:none; text-indent:-2000px; display:block; width:20px;
	}
/*#main_header #header ul li a.home{
	background:url(images/home.gif) no-repeat 0 0; width:16px; height:16px; padding-left: 2.5em;
	}
#main_header #header ul li a.user{
	background:url(images/user.gif) no-repeat 0 0; width:16px; height:16px;
	}
*/
#main_header #header img{
	position:absolute; left:40px; top:74px; display:block;
	}
#main_header #header ul.navi{
	width:100%; display:block; position:absolute; top:189px; left:4%; padding:0; margin:0; background:none;
	}
#main_header #header ul.navi li{
	background:url(images/saparation.gif) no-repeat right; height:22px; padding:0 5% 0 5%; margin:0;
	display:block; float:left; 
	}
#main_header #header ul.navi li.li1{
	background:none; height:22px; padding:0 5% 0 5%; margin:0;
	display:block;  float:left; 
	}
#main_header #header ul.navi li a{
	font:16px/21px "Trebuchet MS", Arial, Helvetica, sans-serif; color:white; text-decoration:none; text-indent:0px; 
	padding:0 0 0 15px; margin:0; width:inherit; 
	}
	
/*--------------------------------entire body-------------------*/
#whole_body{
	
	background:url(images/bgs.png) repeat;
	
}
/*------------------------------------body-------------------------background-color:#0a2b43;color:#fff6d8;*/

#main_body{
	width:100%; color:black; 
	}
#body{
	width:764px; margin:0 auto 0 auto; padding:17px 0 0 0; 
	}
#body h2{
	font:28px/24px 'Trebuchet MS', Arial, Helvetica, sans-serif	; color:#0d0a00;  margin:0 0 15px 40px;
	font-weight:normal;  display:block;
	}
#body p{
	background:url(images/logo.png) no-repeat;
	background-size: 80px 86px; padding:0 0 0 114px; margin:0 0 0 40px; width:598px;
	display:block; font:13px/17px Verdana, Arial, Helvetica, sans-serif; 
	}
#body p a{
	width:56px; height:12px; display:block; background:url(images/more_bg.gif) no-repeat #0a2b43; margin:3px 0 42px 526px;
	font:11px/12px Verdana, Arial, Helvetica, sans-serif; font-weight:bold; text-transform:uppercase; color:#ffffff;
	padding:0 0 0 5px; text-decoration:none;
	}
#body p a:hover{
	background:url(images/more_bg_h.gif) no-repeat #0a2b43; color:#ff0033; 
	}
	




/*---------------------------------footer-----------------*/
#main_footer{
	width:100%;  float:left;  color:black;
	border-top:#ffffff 1px solid; margin:0px; padding:0px; background-color:#e6e6e3; bottom: 0; 
	}
#footer {
	width:550px; height:187px;
	margin:0 auto 0 auto; bottom: 0;
	}
#footer ul{
	width:550px; display:block;	list-style-type:none;  position:absolute; margin:46px 0 0 22px;
	}
#footer ul li{
	display:block; float:left; 
		}
#footer ul li a{
	font:14px/12px 'Trebuchet MS', Arial, Helvetica, sans-serif;
	color: black;
	text-decoration:none;
	margin:0 16px 0 16px;
	}
#footer ul li a:hover{
	text-decoration:underline;
	}

#footer ul.css{
	width:100px;
	display:block;
	margin:75px 0 0 211px;
	font-size:0px;
	padding:0px;
	}
#footer p{
	padding:35px 0 0 165px; font:14px/16px Tahoma, Arial, Helvetica, sans-serif; 
		font-weight:normal;	height:24px; text-align: center; margin: 0px auto;
	}

hr{
	height: .4em;
	background-color: white;

}
/*#footer p.de{
	padding:0 0  0 165px; margin:0;  line-height:12px; width:220px; text-align:center; background-color:#0c1d2a;
	 background:none;
	}*/
